SkiFriRunner/Library/metadata/
SkiFriRunner/Temp/
SkiFriRunner/Library/Collab/
SkiFriRunner/Library/ShaderCache/
SkiFriRunner/Library/ScriptAssemblies/
SkiFriRunner/Library/shadercompiler-UnityShaderCompiler.exe0.log
SkiFriRunner/obj/
